{% extends "base.html" %}

{% block content %}
    {{ validlink }}
    <p style="color: green">Password reset confirm page</p>

    {% if validlink %}
        {{ form.errors }}
        <p>Geras linkas</p>
        <form action="" method="post">

            {% csrf_token %}

            <p>Iveskite nauja slaptazodi:</p>

            <p>Slaptazodis: {{ form.new_password1 }}</p>
            <p>Pakartoti slaptazodi: {{ form.new_password2 }}</p>


            <input type="submit" value="Pakeisti slaptazodi">
        </form>
    {% else %}
        <p>Blogas linkas</p>
    {% endif %}
{% endblock %}