{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
            <legend class="border-bottom mb-4">Delete OrderLine</legend>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Confirm</button>
            <a class="btn btn-outline-secondary" href="{% url 'my_orders' %}">Back</a>
        </div>
    </form>
    </div>
{% endblock content %}