{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <h1 class="text-center">Audi servisas Vilniuje</h1>



    <div class="row">
        <div class="w-50 mx-auto">
            <p class="text-center my_p">Siekiant, kad Jūsų Audi automobilis tarnautų kiek įmanoma ilgiau ir nekeltų
                papildomų,
                netikėtų rūpesčių -
                būtinas reguliariai atlikti kokybiškas Audi servisas. O nusidėvėjus ar sugedus kokioms nors dalims ar
                mazgams ir
                Audi remontas. </p>
            <p class="text-center">
                Audi servisas ar remontas Vilniuje siūlomas beveik kiekviename autocentre, autoservise ir net
                "garažiukyje",
                taip apsunkinant vairuotojus, siekiant pasirinktį patikimiausią. Todėl siūlome savo automobilį patikėti
                mums.
                Nors nesame "dilerinis" Audi servisas, savo veiklą pradėjome dar 2008 metais, todėl savo patirtyje turim
                sukaupę
                didžiulį skaičių šios automobilių markės gedimų, kuriuos sėkmingai pašalinome. Sukūrėme didžiulį
                patenkintų
                klientų ratą, todėl kviečiame ir Jus automobilio remontui atvykti pas mus.
            </p>
        </div>
    </div>

        <p>Jus cia lankotes {{ num_visits }} karta</p>


{% endblock %}