{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

    {% comment %}
    comentas
    {% endcomment %}

    <h1 class="text-center">Autoservisas</h1>
    <p class="text-center">Sveiki atvykę!</p>

    <div class="d-flex flex-column mb-3">
        <div class="p-2"><strong>Automobilių kiekis:</strong> {{ automobiliu_kiekis }}</div>
        <div class="p-2"><strong>Atliktų užsakymų kiekis:</strong> {{ atliktu_uzsakymu_kiekis }}</div>
        <div class="p-2"><strong>Paslaugų kiekis:</strong> {{ paslaugu_kiekis }}</div>

{#        {% for value in servisu_kiekis.values %}#}
{#            {% for val in value %}#}
{#                        <div class="p-2"><strong>Pasirinktas servisas:</strong> {{ val }}</div>#}
{#            {% endfor %}#}
{#        {% endfor %}#}


        {#        <div class="p-2"><strong>Servisu kiekis:</strong> {{ servisu_kiekis }}</div>#}
    </div>



{% endblock %}