{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Order create form</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Išsaugoti</button>
            </div>
        </form>
    </div>
{% endblock content %}