{% extends "base.html" %}
{% block content %}

    <h3>Visi užsakymai</h3>
    {% if order_list %}
        <div class="row">
            {% for uzsakymas in order_list %}
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ uzsakymas.useris.userprofile.nuotrauka.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><a
                                    href="{{ uzsakymas.id }}">{{ uzsakymas.car_id.car_model_id.marke }} {{ uzsakymas.car_id.car_model_id.model }}</a>
                            </p>

                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ uzsakymas.car_id.customer }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ uzsakymas.data|date:"d - M , Y" }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Užsakymų nėra.</p>

    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; pirmas</a>
                <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
            {% endif %}
            <span class="current">
            {{ page_obj.number }} is {{ page_obj.paginator.num_pages }}
        </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}